
/** 
 * ===================================================================
 * General
 * ------------------------------------------------------------------- 
 */
@font-face {
    src: url(fonts/Assistant-VariableFont_wght.ttf);
    font-family: Assi;
}

*{
    font-family: Assi;
    direction: rtl;
}

h1{
    font-family: Assi;
    font-weight: 700;
    font-size: 64px;

}

h2{
    font-family: Assi;
    font-weight: bold;
    font-size: 54px;
    margin: 0;
}
h3{
    font-family: Assi;
    font-weight: 400;
    font-size: 32px;
}

p{
    font-family: Assi;
    font-weight: 300;
    font-size: 16px;
}

a{
    font-family: Assi;
    font-weight: 300;
}

::marker {
    color: #ff000000;
}

body{
    margin: 0;
    padding: 0;
}

/** 
 * ===================================================================
 * Header
 * ------------------------------------------------------------------- 
 */

.Logo{
    width: 25%;
    float: right;
    text-align: right;
}

img#logo {
    width: 50%;
    padding: 2% 22% 2% 0;

}

.Header {
    margin: 2%;
}
nav {
    align-self: center;
}
ul.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
    height: 93px;
}
  
.main-nav li {
    float: right;
}

.main-nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 36px 30px;
    text-decoration: none;
}

ul.main-nav li a:hover:not(.active) {
    background-color: #73b0b55e;
}

/*.active {
    background-color: #4ca3af;
}
*/
.fa{
    font-size: x-large;
}


.hero{
    background: url(images/bg-width.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    background-attachment: fixed;
    min-height: 400px;
}


.row{
    display: flex;
    height: inherit;
    align-items: baseline;
}

h1.page-title {
    float: right;
    border-bottom: solid;
    width: 13%;
    margin-top: auto;
}


 /** 
 * ===================================================================
 * Footer
 * ------------------------------------------------------------------- 
 */
 footer {
    height: 150px;
    direction: rtl;
    display: flex;
}

footer .col-1 {
    width: 24%;
}
.logo{
    margin: auto;
    padding: 50px 20px
}

footer .col-2 {
    width: 26%;
    align-self: center;
}

footer .col-3 {
    width: 25%;
    font-size: x-large;
}
.social-nav{
    display: flex;

}

.social-nav li a {
    display: flex;
    padding: 36px 30px;
}

.col-3.social .social-nav {
    bottom: 0;
    padding-top: 100px;}

footer .col-4{
    width: 25%;
    float: left;
}


 /** 
 * ===================================================================
 * Home Page
 * ------------------------------------------------------------------- 
 */



 /** 
 * ===================================================================
 * About Page
 * ------------------------------------------------------------------- 
 */



 /** 
 * ===================================================================
 * Gallery
 * ------------------------------------------------------------------- 
 */

 /** 
 * ===================================================================
 * Open Studio
 * ------------------------------------------------------------------- 
 */


 /** 
 * ===================================================================
 * Contact
 * ------------------------------------------------------------------- 
 */
