
/** 
 * ===================================================================
 * Header
 * ------------------------------------------------------------------- 
 */
header {
    direction: rtl;
    width: 100%;
    background: #f1f1f1;
    display: flex;
}
.Logo{
    width: 25%;
}
img#logo {
    width: 10%;
}

nav {
    width: 70%;
    display: inline-flex;
    align-items: center;

}

.Header {
    margin: 2%;
}

 /** 
 * ===================================================================
 * Footer
 * ------------------------------------------------------------------- 
 */
 footer {
    background: #f1f1f1;
    direction: rtl;
    display: flex;
}

footer .col-1 {
    width: 24%;
}
.logo{
    margin: auto;
    padding: 50px 20px
}

footer .col-2 {
    width: 15%;
    align-self: center;
}

footer .col-3 {
    display: flex;
    left: 0;
    bottom: 50px;
    font-size: 36px;
    margin: 0;
    padding: 0;
}

footer .col-4{
    width: 10%;
    float: left;
    left: 3%;
}
 /** 
 * ===================================================================
 * Home Page
 * ------------------------------------------------------------------- 
 */



 /** 
 * ===================================================================
 * About Page
 * ------------------------------------------------------------------- 
 */



 /** 
 * ===================================================================
 * Gallery
 * ------------------------------------------------------------------- 
 */

 /** 
 * ===================================================================
 * Open Studio
 * ------------------------------------------------------------------- 
 */


 /** 
 * ===================================================================
 * Contact
 * ------------------------------------------------------------------- 
 */
