# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Ran\Downloads\לימודים\ניהול מערכות מידע\שנה ג'\Web\Project-g10\web-project-10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
